# --- PNPM Specific ---
# Pnpm store directory (jika kamu melakukan konfigurasi store di dalam project)
.pnpm-store
# Log error pnpm
.pnpm-debug.log*

# --- Critical Fixes ---
node_modules
# Jangan abaikan pnpm-lock.yaml! File ini HARUS di-commit
!pnpm-lock.yaml

# --- Environment & Secrets ---
.env
.env.*
!.env.example
*.env.local

# --- Build & Output ---
dist/
build/
out/
.next/
.nuxt/
# TypeScript build info (penting jika menggunakan incremental build)
*.tsbuildinfo

# --- Cache & Performance ---
.eslintcache
.stylelintcache
.cache/
.parcel-cache
.turbo/
.vercel/

# --- Testing ---
coverage/
.nyc_output

# --- IDE & System ---
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
